@use "variables" as *;

.news-card-container {
	max-width: 1350px;
	margin: 40px auto;
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
    align-items: center;
	gap: 25px;

    [class*="MuiCard-root"] {
        background-color: $card-bg;
        border-radius: $border-radius;
        flex: 0 1 600px;
        max-width: revert;
        height: fit-content;

        .MuiCardHeader-root {padding: 20px;}

        img {
            height: 400px;
        }

        [class*="title"] {font-size: 1.25rem;}
        [class*="subheader"] {color: $font-secondary;}

        [class*="MuiCardContent-root"] {
            max-height: 300px;
            overflow: hidden;

            @include fade-out-overlay(bottom, $card-bg, 50%);

            [class*="Typography"] {
                font-size: 1rem;
                max-height: 300px;
            }
        }

        [class*="MuiCardActions"] {
            justify-content: center;
            @include button;
        }
    }
}

.article-content {
    max-width: 750px;
    margin: 25px auto;

    img {
        width: 100%;
    }

    .article-info {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 15px;
        margin: -15px 0 15px;

        h3 {
            font-weight: normal;
            font-size: 17px;
            margin: 0;
        }

        span {
            display: flex;
            gap: .5em;
            align-items: center;
        }

        author {font-weight: 500;}
    }

    @media (max-width: $tablet) {
        padding: 0 20px;
      }
}