@use "variables" as *;

#main {
    max-width: 800px;
    margin: 25px auto;
    padding: 0 25px;

    .MuiAutocomplete-root {
        width: 100%;
    }

    .MuiPaper-root {
        border-radius: 10px;
        margin: 25px auto;
        background-color: $card-bg;

        * {
            color: white;
        }
    }
}

[class*=MuiTable-root] {min-width: auto;
    thead th, tbody td:first-of-type {font-weight: bold;}
}

[class*=MuiAutocomplete] {

    label#gmap-input-label {color: white;}

    [class*=MuiOutlinedInput] {
        background-color: $heading-bg;
        z-index: -1;
        // border: none;

        input#gmap-input {
            color: white;
            z-index: 0;
        }
    }
}