@use "variables" as *;

#main {
    max-width: 800px;
    margin: 25px auto;
    padding: 0 25px;

    .MuiAutocomplete-root {
        width: 100%;
    }

    .MuiPaper-root {
        border-radius: 10px;
        margin: 25px auto;
    }
}

[class*=MuiTable-root] {min-width: auto;
    thead th, tbody td:first-of-type {font-weight: bold;}
}