@use "variables" as *;

#main {
    max-width: 800px;
    margin: 25px auto;
    padding: 0 25px;

    .MuiAutocomplete-root {
        width: 100%;
    }

    .MuiPaper-root {
        border-radius: 10px;
        margin: 25px auto;
        background: none;

        [class*=MuiTable-root] {
            min-width: auto;
            background: $card-bg;
        
            thead th, tbody td:first-of-type {font-weight: bold;}
        
            * {color: white;}
        }
    }
}

[class*=MuiAutocomplete] {

    label#gmap-input-label {color: white;}

    [class*=MuiOutlinedInput] {
        background-color: $heading-bg;
        z-index: -1;
        // border: none;

        input#gmap-input {
            color: white;
            z-index: 0;
        }
    }
}

[class*=MuiAutocomplete-popper] {
    [class*=MuiAutocomplete-paper] {background-color: $heading-bg}

    p {
        color: white;
    }
}