@use "variables" as *;

#html {
    #body {
        #weather {
            width: 100%;
            aspect-ratio: .724/1;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: $border-radius;
        
            * {
                text-align: center;
                color: white;
                text-shadow: 2px 2px 2px black;
            }
        
            > div {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                padding-bottom: 30%;
            }
    
            div {
                h2 {
                    font-weight: 400;
                    font-size: 2rem;
                    margin-top: -15px;
                }
    
                article {
                    display: flex;
                    flex-flow: column;
                    gap: 10px;

                    h1 {
                        margin: 0;
                        font-size: 50px;
                    }

                    h2 {margin: 0;}

                    p {
                        font-size: 1.5rem;
                        margin: 0;
                        line-height: 1;
                    }
                }
            }
        
            &[data-desciption*="clear"] {background-image: url("/clear-day.svg"), $weather-day-bg;
        
                &.night {background-image: url("/clear-night.svg"), $weather-night-bg;}
            }
        
            &[data-desciption*="haze"] {
                background-image: url("/cloudy.svg"), $weather-day-bg;
        
                &.night {background-image: url("/cloudy.svg"), $weather-night-bg;}
            }
        
            &[data-desciption*="cloud"] {
                background-image: url("/cloudy.svg"), $weather-day-bg;
        
                &.night {background-image: url("/cloudy.svg"), $weather-night-bg;}
            }
        
            &[data-desciption*="rain"] {
                background-image: url("/rainy.svg"), $weather-rainy-day-bg;
        
                &.night {background-image: url("/rainy.svg"), $weather-night-bg;}
            }
        
        }
    }
}