@use "variables" as *;

@mixin remove-scrollbar {
    &::-webkit-scrollbar {display: none;}
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container {
    max-width: 1350px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    // cursor: pointer;
    position: relative;
    flex: 1 0 calc(33% - 12.5px);
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 70px 0 0;
    max-height: 500px;
    transition: 0.3s all ease;
    margin: 10px;
    max-width: 400px;
    &:hover {transform: scale(1.03);box-shadow: 5px 5px 5px lightgray;}
    .type {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 15px;
        font: 400 20px/1 $font-primary;
        .MuiAlert-icon {
            justify-content: center;
        }
    }
    [class*="MuiCardContent"] {
        padding: 0;
        overflow-y: scroll;
        @include remove-scrollbar;
        height: 370px;
    }
    .content {padding: 10px 25px; margin-top: 10px;}
    
    @include button;
}