@use "variables" as *;

.container {

    .progress {
        padding: 0;
        margin: 10px auto 25px;
        display: flex;
        justify-content: center;

    }
    @include btn-alt;
}

.alertsContainer {
    max-width: 1350px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25px;

    @include alert-card;
    @include btn-alt;
}

.alertContainer {
    max-width: 600px;
    margin: auto;
    padding: 0;

    @include alert-card;

    [class*="MuiCard-root"] {
        transition: none;
        max-width: none;
        max-height: 100%;
        margin: 20px;

        &:hover {transform: none;}

        [class*="MuiCardContent"] {
            height: initial;

            &::after{display: none;}
        }
    }
}