@use "variables" as *;

#banner {
    padding: 7.5% 0;

    @media (max-width: $tablet) {
        padding-top: 30%;
    }
    
    .container {
        max-width: 1200px;
        padding: 7.5% 0;
        margin: auto;
        display: flex;
        flex-flow: row wrap;

        h1 {
            font-size: 5rem;
            font-weight: 600;
            margin: 2.5% 0;
        }

        article {
            flex-basis: 50%;
            text-shadow: 3px 3px 3px black;

            @media (max-width: $tablet) {
                flex-basis: auto;
            }
        }

        @media (max-width: $desktop) {
            padding: 20px;
        }
    }
}

.parallax {
    filter: brightness(0.75) !important;
    z-index: -1;
}