@use "variables" as *;

#main {
    .container {
        .flex {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            gap: 20px;
        }
    }

    #contactPaper {
        background-color: $card-bg;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 15px;
        aspect-ratio: 1;
        min-width: 125px;
        max-width: 125px;

        h3 {margin: 0;}
    }

    @media (max-width: $mobile) {
        padding: 0 25px;
      }
}