/* Typography */
/* Breakpoints */
header {
  position: sticky;
  top: 0;
  z-index: 10000;
}
header nav[class*=Mui] {
  position: static;
  background-color: none;
  background: rgba(249, 255, 255, 0.85);
}
header nav[class*=Mui] * {
  color: #333;
}
header [class*=MuiToolbar] {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
header [class*=MuiToolbar] [class*=MuiIconButton-root] {
  flex: 0 1 50px;
  margin: 5px;
}
@media (max-width: 768px) {
  header [class*=MuiToolbar] {
    padding: 0;
  }
}
@media (max-width: 768px) {
  header [class*=MuiToolbar] [class*=MuiTypography-h6], header [class*=MuiToolbar] [class*=MuiBox-root] {
    display: none;
  }
}
@media (min-width: 768px) {
  header [class*=MuiToolbar] [class*=MuiTypography-h6], header [class*=MuiToolbar] [class*=MuiBox-root] {
    display: block;
  }
}

[class*=Mui].hamburger-drawer [class*=backdrop] {
  background-color: initial;
}
[class*=Mui].hamburger-drawer [class*=MuiDrawer-paper] {
  position: relative;
  justify-content: center;
  opacity: 0.9;
  height: 100%;
}

/* Hamburger Icon */
#hamburger {
  width: 100%;
  height: 100%;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  aspect-ratio: 1.2;
}
#hamburger span {
  display: block;
  height: 15%;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#hamburger span:nth-child(1) {
  transform-origin: left center;
}
#hamburger span:nth-child(2) {
  transform-origin: left center;
}
#hamburger span:nth-child(3) {
  transform-origin: left center;
}
#hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}
#hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background: rgb(231, 235, 240);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.2;
}

[class*=Mui] {
  font-family: "Montserrat", sans-serif;
}

[class*=MuiButton] {
  color: #333;
}

[class*=MuiAutocomplete-noOptions] {
  display: none;
}

[class*=MuiAutocomplete-endAdornment] [class*=popupIndicator] {
  display: none;
}

.progress {
  padding: 35px 35px 0;
  display: flex;
  justify-content: center;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );
  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}/*# sourceMappingURL=globals.css.map */